In [1]:
from selenium import webdriver
driver=webdriver.Chrome()
from bs4 import BeautifulSoup
import urllib
import requests

In [2]:
def url_calling(dice_num):
    dy_url='https://www.random.org/dice/?num='
    final=dy_url+str(dice_num)
    driver.get(final)
    headers = {"User-Agent": "Mozilla/5.0 (Macintosh; Intel Mac OS X 10.14; rv:66.0) Gecko/20100101 Firefox/66.0", "Accept": "text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "Accept-Language": "en-US,en;q=0.5", "Accept-Encoding": "gzip, deflate", "DNT": "1", "Connection": "close", "Upgrade-Insecure-Requests": "1"}
    url =driver.current_url
    response = requests.get(url,headers=headers)
    content = response.content
    global soup
    soup = BeautifulSoup(response.text, 'html.parser')

In [10]:
dice_num=20
def dy_number():
    global d1,d2,d3,d4,d5,d6
    d1=len(soup.find_all(alt='1'))
    d2=len(soup.find_all(alt='2'))
    d3=len(soup.find_all(alt='3'))
    d4=len(soup.find_all(alt='4'))
    d5=len(soup.find_all(alt='5'))
    d6=len(soup.find_all(alt='6'))
sim_type=input("Please give Answer as A,B or C ")
Ab=[]
Ad=[]
Ap=[]
if sim_type == 'A':
    i=0
    while(i<10):
        url_calling(dice_num)
        dy_number()
        deaths=d1
        births=d2+d3
        Ab.append(births)
        Ad.append(deaths)
        Ap.append(dice_num)
        dice_num=dice_num+births-deaths
        i=i+1
if sim_type == 'B':
    i=0
    while(i<10):
        url_calling(dice_num)
        dy_number()
        deaths=d1+ round((d3/2))
        births=d2+ round((d3/2))
        Ab.append(births)
        Ad.append(deaths)
        Ap.append(dice_num)
        dice_num=dice_num+births-deaths
        i=i+1
if sim_type == 'C':
    i=0
    while(i<10):
        url_calling(dice_num)
        dy_number()
        deaths=d1
        births=d2
        Ab.append(births)
        Ad.append(deaths)
        Ap.append(dice_num)
        dice_num=dice_num+births-deaths
        i=i+1

Please give Answer as A,B or C B

In [11]:
import pandas as pd
d = {'Year': [1, 2,3,4,5,6,7,8,9,10], 'Births': Ab,'Deaths':Ad, 'Population' : Ap}
df = pd.DataFrame(data=d)
df

   Year  Births  Deaths  Population
0     1       5       3          20
1     2       7       4          22
2     3       6       5          25
3     4       5       7          26
4     5       6       6          24
5     6       7       8          24
6     7       7       5          23
7     8       6       8          25
8     9       8       4          23
9    10       7       7          27